@media screen and (max-width:1300px) {

    #about .lower {
        flex-direction: column;
    }

    #about .lower .right {
        margin-top: 5vh;
    }

    #about .lower .left,
    #about .lower .right {
        width: 100%;
    }

    #about .lower .left img {
        width: 30%;
    }

    #about .lower .right {
        align-items: center;
        gap: 3vh;
    }

}

@media screen and (max-width:980px) {

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    a {
        font-size: 15px;
        cursor: pointer;
    }

    #about .lower .right .about-table .table-list table th,
    #about .lower .right .about-table .table-list table td {
        font-size: 14px;
    }

}

@media screen and (max-width:950px) {

    header .right .fa-sun,
    header .right .fa-moon {
        display: block;
        font-size: 35px;
        margin-left: 100%;
    }

    header .left {
        margin-left: 2vw;
    }

    header .middle {
        display: none;
    }

    header .right {
        margin-right: 44px;
    }

    #home {
        flex-direction: column;
        gap: 2vh;
    }

    #home .left,
    #home .right {
        width: 100%;
    }

    #home .left {
        height: 30%;
    }

    #home .right {
        height: 70%;
    }

    #home .left p {
        width: 100%;
    }

    #home .left a {
        padding: 2vh 4vw;
    }

    #home .right {
        background-color: transparent;
        justify-content: flex-end;
    }

    /* #home .right img {
        width: 100%;
    } */

    #projects .projectswiper {
        width: 100%;
    }

    #projects .projectswiper .swiper-slide .demo-link {
        bottom: 1vh;
    }

    #contact .upper form {
        width: 90%;
    }

    #contact .upper form textarea {
        padding-top: 3vw;
    }

    footer {
        margin-bottom: 8vh;
        margin-top: 3vh;
    }

    #mobile-version {
        display: block;
    }

}

@media screen and (max-width:700px) {

    #about .lower .left img {
        width: 50%;
    }

    #edu-exp .list {
        flex-direction: column;
        gap: 6vh;
    }

    #edu-exp .list .education,
    #edu-exp .list .experience {
        width: 100%;
    }

    #skills .lower {
        flex-direction: column;
        gap: 0;
    }

    #skills .lower .container {
        width: 100%;
    }

    #skills .lower .container .skill-box:nth-child(1) {
        margin: 0;
    }

    #projects .projectswiper .swiper-slide .demo-link a {
        padding: 5px 10px;
    }

}

@media screen and (max-width:600px) {

    #home .left {
        height: 40%;
    }

    #home .right {
        height: 60%;
    }

    #home .right img {
        width: 100%;
    }

    #about .lower .right h2 {
        text-align: center;
    }

    #about .lower .right p {
        text-align: center;
    }

    #about .lower .right .about-table {
        flex-direction: column;
        gap: 0;
    }

    #about .lower .right .about-table .table-list {
        width: 100%;
    }

    #about .lower .right .about-table .table-list:nth-child(1) table td {
        padding: 5px 0 5px 20px;
    }

}

@media screen and (max-width:420px) {

    #contact .lower ul {
        gap: 2vh;
    }

    #mobile-version ul {
        padding: 0 2px;
    }

    #mobile-version ul li a {
        font-size: 17px;
    }

}

@media screen and (max-width:350px) {

    #projects .projectswiper .swiper-slide .demo-link {
        bottom: 0px;
        gap: 5px;
    }

}

@media screen and (max-width:300px) {

    #mobile-version {
        height: 5vh;
    }

    #mobile-version ul li a {
        font-size: 15px;
    }

    #contact h2 {
        text-align: center;
    }

    #contact .lower ul {
        flex-wrap: wrap;
        gap: 4vh;
        justify-content: center;
    }

}

@media screen and (max-width:270px) {}