@media screen and (max-width:1350px) {}

@media screen and (max-width:980px) {

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    a {
        font-size: 15px;
        cursor: pointer;
    }

}

@media screen and (max-width:950px) {

    header .right .fa-sun,
    header .right .fa-moon {
        display: block;
        font-size: 35px;
        color: white;
        margin-left: 100%;
    }

    header .middle {
        display: none;
    }

    header .right {
        margin-right: 44px;
    }

    #projects {
        padding: 8vh 30px 20px;
    }

    #projects .projectswiper {
        width: 100%;
    }

    #projects .projectswiper .swiper-slide .demo-link {
        bottom: 10px;
    }

    #contact {
        padding: 8vh 30px 20px;
    }

    #contact .upper {
        flex-direction: column;
    }

    #contact .upper .left {
        width: 100%;
    }

    #contact .upper .right {
        width: 100%;
    }

    #contact .upper .right form {
        width: 100%;
    }

    #mobile-version {
        display: block;
    }

}

@media screen and (max-width:700px) {

    #skills {
        padding: 8vh 30px 20px;
    }

    #skills .lower {
        flex-direction: column;
        gap: 10px;
    }

    #skills .lower .left,
    #skills .lower .right {
        width: 100%;
    }

    #projects .projectswiper .swiper-slide .demo-link a {
        padding: 5px 10px;
    }

}


@media screen and (max-width:420px) {

    header .left {
        margin-left: 5px;
    }

    #contact .upper .left iframe {
        width: 260px;
        height: 250px;
    }

    #mobile-version ul li a {
        font-size: 15px;
    }

}

@media screen and (max-width:350px) {

    #projects .projectswiper .swiper-slide .demo-link {
        bottom: 0px;
        gap: 5px;
    }
}

@media screen and (max-width:300px) {

    #mobile-version ul li a {
        font-size: 10px;
    }

}

@media screen and (max-width:270px) {

    #contact .upper .left iframe {
        width: 200px;
    }

}